<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(([A-Z][a-z]+){2,})/(view|edit|preview|save|diff|search)$ index.php?page=$1&action=$3 [L]
RewriteRule ^(([A-Z][a-z]+){2,})/?$ index.php?page=$1 [L]
</IfModule>